<div class="row align-center">
	<div class="columns small-7">

		<a href="<%= root_path %>"><div class="logo">
			<div class="logo-sub">Search API</div>
		</div></a>

		<%= form_tag '/main', method: 'get' do %>
		<div class="input-group">
			<%= text_field_tag :q, @q, class: 'input-group-field'%>
			<div class="input-group-button">
				<%= submit_tag 'Search', class: 'button primary large hollow' %>
			</div>
		</div>
		<% end %>

		<div class="card search animation-target">
		<% if @result %>
			<% unless @result.empty? %>
			<div class="card-section search__body">
				<%= render 'list' %>
			</div>
			<% else %>
			<div class="card-section search__body">
				<p>Sorry, not found</p>
			</div>
			<% end %>
		<% end %>
		</div>

	</div>
</div>